.c_li_container * {
    box-sizing: border-box;
}

.c_li_container .card{
    padding: 20px;
    min-width: 200px;
    height: 250px;
}

@media (max-width: 767px) {
    .c_li_container .card{
        height: 100%;
    }
}

.c_li_container .img-box {
    position: relative;
    height: 100%;
}

.c_li_container .img-box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.c_li_container .edit-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
}

.c_li_container .edit-img:hover {
    opacity: 0.5;
}

/* style for Swal below*/

.c_l_spinner {
    width: 5rem !important;
    height: 5rem !important;
}

.c_l_progressBar {
    height: .5rem;
}

/* style for Swal above*/

@media (max-width: 1340px) {
    .c_li_container .coach_name_field {
        flex-direction: column;
    }

    .c_li_container .coach_name_field .edit_field:last-child {
        margin: 0 !important;
    } 
}

.c_li_container .coach_name_field {
    display: flex;
    justify-content: start;
}

.c_li_container .edit_button {
    all: unset;
    cursor: pointer;
}

.c_li_container .edit_field {
    font-size: 1.2rem;
}

.c_li_container .name_input {
    position: absolute;
    line-height: 1;
    border-radius: 3px;
    top: 0;
    left: 0;
    width: 6rem;
    transition: width .5s, border-width 0s .5s;
}

.c_li_container .hide {
    border-width: 0;
    padding: 0;
    width: 0;
}

.c_li_container .hide_text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.c_li_container .long_text:disabled {
    background-color: transparent;
}

/* Modal style below*/

dialog {
    border-radius: 8px;
    border: 0;
}

.modal_monitor {
    height: 180px;
}

.modal_body {
    height: 150px;
}

.modal_monitor, .modal_body {
    width: 50vw;
    border: 3px solid grey;
    padding: .5rem 0;
    overflow-y: scroll;
    user-select: none;
    /* resize: vertical; */
}

.modal_item {
    padding: 0 .5rem;
    text-align: center;
    cursor: pointer;
}

.modal_item:hover {
    background-color: lightskyblue;
}

/* Modal style above*/