/* font-family: 'Noto Sans TC', sans-serif; */
.login-background {
  background-image: url("./../assets/img/login.jpg");
  filter: grayscale(100%) blur(3px);
}
.login-title {
  color: rgb(99, 18, 128);
}
.login-input {
  color: red !important;
}
.login-input:focus {
  color: red !important;
}
#swal2-html-container {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 36px;
}
