/* font-family: 'Noto Sans TC', sans-serif; */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.login-background {
  background-image: url("./../assets/img/login.jpg");
  filter: grayscale(100%) blur(3px);
}
.login-title {
  color: rgb(99, 18, 128);
}
.login-input {
  color: rgb(99, 18, 128) !important;
}
.login-input:focus {
  color: rgb(99, 18, 128) !important;
}
.login-input.error-on {
  /* background-color: rgb(179, 32, 32); */
  color: rgb(255, 0, 0);
  border-color: rgb(179, 32, 32);
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
}
#swal2-html-container {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 36px;
}
[data-error] {
  color: red;
  font-size: 18px;
  transition: all 0.5s ease;
  opacity: 0;
}
[data-error].error-on {
  opacity: 1;
}
/* .login-input.error-on {
  box-shadow: 0 0 0 0.25rem rgba(216, 43, 43, 0.25);
  border-color: rgba(216, 43, 43, 0.25);
} */
.captcha {
  letter-spacing: 10px;
  line-height: 47px;
  border: 1px solid #ced4da;
}

.captcha span {
  display: inline-block;
  user-select: none;
}
.captcha-container i {
  border: 1px solid #ced4da;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
}
[data-login-btn]:first-child:active {
  background-color: rgb(99, 18, 128);
}
