/* for member_list.php */
.member-list-table th {
  white-space: nowrap;
}
.member-list-hero-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.member-address,
.member-created_at {
  width: 150px;
}
